* {
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  background: #b6bfb6;
  color: #b6bfb6; 
  max-width: 400px;
 
  padding: 1rem;
  margin: 0 auto;
}
.box-container {
  background: #b6bfb6;
  border:0px;
  margin: 10 20px;
  border: 10px rgb(35, 153, 207); ;
  outline: 10px rgb(35, 153, 207);
padding: 2.25em 0.5em;
border-radius: 0.25em;

}

.box {
  background: hsl(0, 0%, 100%);
 
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  border: 10px rgb(35, 153, 207); ;
  outline: 10px rgb(35, 153, 207);
padding: 1.25em 0.5em;
border-radius: 10px;


margin-top: 10px;
}
h1{
  color: black;
}
a{
  color: black;
}
#decorbtn {
  background: hsl(0, 0%, 100%);
  border: 0px;
  font-weight: bolder;
  cursor: pointer;
  transition: background-color 0.3s; /* Smooth transition effect */
  font-family: 'Inter', sans-serif;
  /* Add space between buttons */
  margin-right: 15px; /* Adjust the margin as needed */
 
  font-size: 15px;
}

#decorbtn:hover {
  background-color: #78b378;
  border-radius: 5px;
  margin-right: 15px;
  color: #fff;


  display: inline-block;
}

#answer{
  list-style: none;

}

div ul li{
  display: inline-block;
  list-style: none;
  margin: 10 20px;
  margin-bottom: 20px;
}
nav ul li {
  color:#fff;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}

div ul li :hover::after{
  width: 100%;
}
.container{

  border-radius: 8px;
  background-color: #529b52;
}
.container h1{
  color: #c4ffc4;
  border-radius: 10px;
}
.warning{
color: black;
   font-family: 'Inter', sans-serif;
}
.contaiter{

  color: #529b52;
}
.poopert{
  padding-top: 20px;
}
